- name: "Ensure ~/.config/efm-langserver"
  ansible.builtin.file:
    name: "{{ lsp_efm_config_dir }}"
    state: directory
    recurse: true
  tags:
    - install

- name: Symlink efm config.lua
  ansible.builtin.file:
    src: "{{ lsp_efm_dotfiles_path }}/config.yaml"
    dest: "{{ lsp_efm_config_dir }}/config.yaml"
    state: link
  tags:
    - install
