- name: Install language servers
  tags:
    - install

  block:
    - name: Install language servers & linters with npm
      community.general.npm:
        name: "{{ item }}"
        global: true
      loop: "{{ lsp_npm }}"
      environment:
        PATH: "{{ ansible_facts.user_dir }}/.local/share/mise/shims:{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.env.PATH }}"

    - name: Install/Update language servers & linters with cargo
      community.general.cargo:
        name: "{{ item }}"
        state: latest
      loop: "{{ lsp_cargo }}"
      tags:
        - update
      environment:
        PATH: "{{ ansible_facts.user_dir }}/.cargo/bin:{{ ansible_facts.env.PATH }}"

    - name: Install/Update language servers & linters with go
      ansible.builtin.command: go install "{{ item }}"
      loop: "{{ lsp_go }}"
      tags:
        - update
      environment:
        PATH: "/usr/local/go/bin:{{ ansible_facts.env.PATH }}"

    - name: Install/Update language servers & linters with homebrew
      when: ansible_facts.os_family == "Darwin"
      community.general.homebrew:
        name: "{{ lsp_homebrew }}"
        state: present
      tags:
        - update

    - name: Install/Update language servers & linters with apt
      when: ansible_facts.os_family == "Debian"
      ansible.builtin.apt:
        name: "{{ lsp_apt }}"
        state: present
      become: true
      tags:
        - update

    - name: Getting pipx binary location
      ansible.builtin.command: which pipx
      register: lsp_pipx_binary
      environment:
        PATH: "{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.env.PATH }}"
      tags:
        - update

    - name: Install language servers & linters with pipx
      community.general.pipx:
        name: "{{ item }}"
        executable: "{{ lsp_pipx_binary.stdout }}"
      loop: "{{ lsp_pip }}"

    - name: Update language servers & linters with pipx
      community.general.pipx:
        name: "{{ item }}"
        state: upgrade
        executable: "{{ lsp_pipx_binary.stdout }}"
      loop: "{{ lsp_pip }}"
      tags:
        - update
