- name: Install rustup noninteractive with curl
  when: ansible_facts.os_family == "Debian"
  ansible.builtin.shell: |
    set -o pipefail
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  args:
    creates: "{{ ansible_facts.user_dir }}/.cargo/bin/rustup"
    executable: /bin/bash
  tags:
    - install

- name: Upgrade rust
  when: ansible_facts.os_family == "Debian"
  ansible.builtin.command: rustup update
  environment:
    PATH: "{{ ansible_facts.user_dir }}/.cargo/bin:{{ ansible_facts.env.PATH }}"
  tags:
    - update

- name: Install/Update packages with cargo
  community.general.cargo:
    name: "{{ item }}"
    state: latest
    locked: true
  loop: "{{ cargo_packages }}"
  when: cargo_packages is defined
  environment:
    PATH: "{{ ansible_facts.user_dir }}/.cargo/bin:{{ ansible_facts.env.PATH }}"
  tags:
    - update
    - install
