---
- name: Include apt
  ansible.builtin.import_tasks: apt.yml
  when: ansible_facts.os_family == 'Debian'

- name: Include homebrew
  ansible.builtin.import_tasks: homebrew.yml
  when: ansible_facts.os_family == 'Darwin'
