- name: Backup xfce config files
  ansible.posix.synchronize:
    src: "{{ ansible_facts.user_dir }}/.config/xfce4/"
    dest: xfce4/
    recursive: true
    delete: true
    checksum: true
  tags:
    - backup
