- name: Include install
  ansible.builtin.import_tasks: install.yml
  when: ansible_facts.os_family == 'Debian'

- name: Include configure
  ansible.builtin.import_tasks: configure.yml
  when: ansible_facts.os_family == 'Debian'

- name: Include backup
  ansible.builtin.import_tasks: backup.yml
  when: ansible_facts.os_family == 'Debian'
