- name: "Ensure ~/.npm"
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.npm"
    state: directory
    recurse: true
  tags:
    - install

- name: Set npm bin
  ansible.builtin.command: "npm config set prefix {{ ansible_facts.user_dir }}/.npm"
  tags:
    - install
  environment:
    PATH: "{{ ansible_facts.user_dir}}/.local/share/mise/shims:{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.env.PATH }}"

- name: Update global npm packages
  ansible.builtin.command: npm update -g
  tags:
    - update
  environment:
    PATH: "{{ ansible_facts.user_dir}}/.local/share/mise/shims:{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.user_dir }}/.npm/bin:{{ ansible_facts.env.PATH }}"
