- name: Install vifm with apt
  become: true
  ansible.builtin.apt:
    name: vifm
    state: present
  when: ansible_facts.os_family == "Debian"
  tags:
    - install

- name: Install vifm with homebrew
  community.general.homebrew:
    name: vifm
    state: present
  when: ansible_facts.os_family == "Darwin"
  tags:
    - install
