---
- name: "Ensure linearmouse config dir"
  ansible.builtin.file:
    path: "{{ linearmouse_config_dir }}"
    state: directory
    recurse: true
  tags:
    - install

- name: Copy linearmouse.json to config dir
  ansible.builtin.copy:
    src: linearmouse.json
    dest: "{{ linearmouse_config_dir }}/linearmouse.json"
    owner: "{{ ansible_facts.user_id }}"
    mode: "0644"
    follow: true
  tags:
    - install
