---
- name: Install python3-setuptools, pipx with apt
  when: ansible_facts.distribution == 'Debian'
  ansible.builtin.apt:
    name: ["python3-setuptools", "pipx"]
    state: present
  become: true
  tags:
    - install

- name: Install pipx with pip3
  when:
    - ansible_facts.distribution == "Ubuntu"
    - ansible_facts.distribution_version.startswith("22.04")
  ansible.builtin.pip:
    name: pipx
    state: present
    executable: pip3
  tags:
    - install

- name: Install python3 with hombrew
  community.general.homebrew:
    name: ["python3"]
    state: present
  when: ansible_facts.os_family == "Darwin"
  tags:
    - install

- name: Install pipx with homebrew
  community.general.homebrew:
    name: ["pipx"]
    state: present
  when: ansible_facts.os_family == "Darwin"
  tags:
    - install

- name: Upgrade pipx with pip3
  when:
    - ansible_facts.distribution == 'Ubuntu'
    - ansible_facts.distribution_version.startswith("22.04")
  ansible.builtin.pip:
    name: pipx
    state: latest # noqa package-latest
    executable: pip3
  tags:
    - update

- name: Getting pipx binary location
  ansible.builtin.command: which pipx
  register: pip_pipx_binary
  environment:
    PATH: "{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.env.PATH }}"
  tags:
    - update
    - install

- name: Install packages with pipx
  community.general.pipx:
    name: "{{ item }}"
    executable: "{{ pip_pipx_binary.stdout }}"
  loop: "{{ pip_packages }}"
  when: pip_packages is defined
  tags:
    - install

- name: Upgrade packages with pipx
  community.general.pipx:
    state: upgrade_all
    executable: "{{ pip_pipx_binary.stdout }}"
  tags:
    - update
