---
- name: Install docker desktop with apt
  when: ansible_facts.os_family == "Debian"
  become: true
  tags:
    - install
  block:
    - name: Get docker signing key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/debian/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"

    - name: Add docker to sources list
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian {{ ansible_facts.distribution_release }} stable"
        state: present
        filename: docker
        update_cache: true

    - name: Install docker packages
      ansible.builtin.apt:
        name: "docker-ce, docker-ce-cli, containerd.io, docker-buildx-plugin, docker-compose-plugin"
        state: present

    - name: Download & install docker-desktop .deb package
      ansible.builtin.apt:
        deb:
          https://desktop.docker.com/linux/main/amd64/docker-desktop-amd64.deb?utm_source=docker&utm_medium=webreferral&utm_campaign=docs-driven-download-linux-amd64
      register: docker_desktop_result
      failed_when: >
        docker_desktop_result.failed and
        ('A later version is already installed' not in docker_desktop_result.msg)
      tags:
        - update
