- name: Remove existing .gnupg directory
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.gnupg"
    state: absent
  tags:
    - install

- name: Symlink .gnupg
  ansible.builtin.file:
    src: "{{ private_dotfiles_path }}/.gnupg"
    dest: "{{ ansible_facts.user_dir }}/.gnupg"
    state: link
  tags:
    - install

- name: Ensure access rights to .gnupg
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.gnupg"
    owner: "{{ ansible_facts.user_id }}"
    state: directory
    mode: "0700"
    recurse: true
  tags:
    - install
