---
- name: Start ssh-agent on login
  when: ansible_facts.os_family == "Debian"
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts.user_dir }}/.zprofile"
    block: |
      if [ ! -S ~/.ssh/ssh_auth_sock ]; then
        eval `ssh-agent`
        ln -sf "$SSH_AUTH_SOCK" ~/.ssh/ssh_auth_sock
      fi
      export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock
    create: true
    mode: "0700"
  tags:
    - install

- name: Remove existing .ssh directory
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.ssh"
    state: absent
  tags:
    - install

- name: Symlink .ssh
  ansible.builtin.file:
    src: "{{ private_dotfiles_path }}/.ssh"
    dest: "{{ ansible_facts.user_dir }}/.ssh"
    state: link
  tags:
    - install

- name: Ensure access rights id_rsa
  become: true
  become_user: root
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.ssh/id_rsa"
    mode: "0700"
  tags:
    - install

- name: Ensure access rights .ssh/config
  become: true
  become_user: root
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}/.ssh/config"
    mode: "0700"
  tags:
    - install

- name: Generate root key
  become: true
  ansible.builtin.command: ssh-keygen -A
  tags:
    - install
