---
- name: Include install
  ansible.builtin.import_tasks: install.yml
  when: ansible_facts.os_family == 'Debian'

- name: Include configure
  ansible.builtin.import_tasks: configure.yml

- name: Include plugins
  ansible.builtin.import_tasks: plugins.yml
