- name: Install/Update zsh-z plugin
  ansible.builtin.git:
    repo: https://github.com/agkozak/zsh-z
    dest: "{{ ansible_facts.user_dir }}/.zsh/plugins/zsh-z"
    version: master
    update: true
  tags:
    - install
    - update

- name: Install/Update fzf-tab plugin
  ansible.builtin.git:
    repo: https://github.com/Aloxaf/fzf-tab
    dest: "{{ ansible_facts.user_dir }}/.zsh/plugins/fzf-tab"
    version: master
    update: true
  tags:
    - install
    - update
