---
- name: Install memo
  tags:
    - install
  block:
    - name: Download memo installation script
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/ldonnez/memo/main/install.sh
        dest: /tmp/install_memo.sh
        mode: "0755"

    - name: Run memo installation script
      ansible.builtin.command: /tmp/install_memo.sh
      args:
        creates: "{{ ansible_facts.user_dir }}/.local/bin/memo"

  always:
    - name: Cleanup installation script
      ansible.builtin.file:
        path: /tmp/install_memo.sh
        state: absent

- name: Upgrade memo
  ansible.builtin.command: memo upgrade --force
  register: memo_upgrade_result
  changed_when: "'Already up to date' not in memo_upgrade_result.stdout"
  tags:
    - update
  environment:
    PATH: "{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.env.PATH }}"
