- name: Install & Configure miseatools
  when: mise_tools|length > 0
  tags:
    - install

  block:
    - name: Install apt depedencies
      ansible.builtin.apt:
        name: "{{ item.apt_dependencies }}"
        state: present
      when: ansible_facts.os_family == 'Debian'
      become: true
      loop: "{{ mise_tools }}"

    - name: Install homebrew depedencies
      community.general.homebrew:
        name: "{{ item.homebrew_dependencies }}"
        state: present
      when: ansible_facts.os_family == 'Darwin'
      loop: "{{ mise_tools }}"

    - name: Install global mise tools
      ansible.builtin.command: "mise use --global {{ item.name }}@{{ item.global_version }}"
      register: mise_plugin_add_output
      failed_when: mise_plugin_add_output.rc == 1
      loop: "{{ mise_tools }}"
      environment:
        PATH: "{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.env.PATH }}"

- name: Update mise plugins
  ansible.builtin.command: mise upgrade
  tags:
    - update
  environment:
    PATH: "{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.env.PATH }}"
