---
- name: Symlink .psqlrc
  ansible.builtin.file:
    src: "{{ dotfiles_directory_path }}/.psqlrc"
    dest: "{{ ansible_facts.user_dir }}/.psqlrc"
    state: link
  tags:
    - install

- name: Force link to make psql work
  ansible.builtin.command: brew link --force libpq
  when: ansible_facts.os_family == "Darwin"
  tags:
    - install
