---
- name: Copy gitconfig to ~/.gitconfig
  ansible.builtin.copy:
    src: gitconfig
    dest: "{{ ansible_facts.user_dir }}/.gitconfig"
    mode: "0755"
  tags:
    - install

- name: Check if git-crential-manager.exe exists
  ansible.builtin.stat:
    path: "/mnt/c/Program Files/Git/mingw64/bin/git-credential-manager.exe"
  register: git_credentaial_manager_exe
  tags:
    - install

- name: Configure Git Credential Manager for WSL # Ensures MFA and SSO works in Github Enterprise environments.
  community.general.git_config:
    name: credential.helper
    scope: global
    value: /mnt/c/Program\ Files/Git/mingw64/bin/git-credential-manager.exe
  when: git_credentaial_manager_exe.stat.exists
  tags:
    - install

- name: Symlink .gitignore_global
  ansible.builtin.file:
    src: "{{ dotfiles_directory_path }}/.gitignore_global"
    dest: "{{ ansible_facts.user_dir }}/.gitignore_global"
    state: link
  tags:
    - install
