- name: Install alacritty with homebrew
  homebrew: name=alacritty state=present
  ignore_errors: yes
  tags:
    - alacritty

- name: Symlink ~/.alacritty.yml from source {{ dotfiles_directory_path }}/.alacritty.yml
  file: src={{ item.src }} dest={{ item.dest }} state=link
  loop:
    - { src: "{{ dotfiles_directory_path }}/.alacritty.yml", dest: "~/.alacritty.yml" }
  tags:
    - alacritty
