---
- name: Install ghcup noninteractive with curl
  ansible.builtin.shell: |
    set -o pipefail
    curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh
  args:
    creates: "{{ ansible_facts.user_dir }}/.ghcup/bin/ghcup"
    executable: /bin/bash
  environment:
    BOOTSTRAP_HASKELL_NONINTERACTIVE: "1"
    BOOTSTRAP_HASKELL_GHC_VERSION: recommended
    BOOTSTRAP_HASKELL_CABAL_VERSION: recommended
    BOOTSTRAP_HASKELL_INSTALL_STACK: "1"
    BOOTSTRAP_HASKELL_INSTALL_HLS: "1"
  tags:
    - install

- name: Upgrade ghcup
  ansible.builtin.command: ghcup upgrade
  tags:
    - update
  environment:
    PATH: "{{ ansible_facts.user_dir }}/.ghcup/bin:{{ ansible_facts.env.PATH }}"

- name: Upgrade hls
  ansible.builtin.command: ghcup install hls
  tags:
    - update
    - tmp
  environment:
    PATH: "{{ ansible_facts.user_dir }}/.ghcup/bin:{{ ansible_facts.env.PATH }}"
