- name: Install yarn
  ansible.builtin.command: npm install yarn -g
  tags:
    - install

- name: Update global yarn packages
  ansible.builtin.command: "{{ ansible_facts.user_dir }}/.npm/bin/yarn global upgrade"
  tags:
    - update
