- name: Symlink wslview with xdg-open
  ansible.builtin.file:
    src: /usr/bin/wslview
    dest: "{{ ansible_facts.user_dir }}/.local/bin/xdg-open"
    state: link
  tags:
    - install

- name: Symlink wslview with open
  ansible.builtin.file:
    src: /usr/bin/wslview
    dest: "{{ ansible_facts.user_dir }}/.local/bin/open"
    state: link
  tags:
    - install

- name: Remove existing /etc/wsl.conf if present
  become: true
  ansible.builtin.file:
    path: /etc/wsl.conf
    state: absent
  tags:
    - install

- name: Copy wsl.conf to /etc
  become: true
  ansible.builtin.copy:
    src: wsl.conf
    dest: /etc
    mode: "0600"
  tags:
    - install

- name: Configure locales (en_US.UTF-8)
  become: true
  tags:
    - install

  block:
    - name: Ensure locales package is installed
      become: true
      ansible.builtin.apt:
        name: locales
        state: present

    - name: Generate en_US.UTF-8 locale
      become: true
      ansible.builtin.locale_gen:
        name: "{{ item }}"
        state: present
      loop:
        - en_US.UTF-8

    - name: Set default system environment locale to use en_US.UTF-8/nl_BE.UTF-8
      become: true
      ansible.builtin.copy:
        dest: /etc/default/locale
        content: |
          LANG=en_US.UTF-8
        mode: "0644"

- name: Notify to restart WSL for changes to take effect
  ansible.builtin.debug:
    msg: "Restart WSL for changes to take effect (wsl --shutdown)"
  tags:
    - install
