- name: Install wslu with apt
  ansible.builtin.apt:
    name: wslu
    state: present
  become: true
  tags:
    - install

- name: Install win32yank.exe
  tags:
    - install

  block:
    - name: Ensure /tmp/win32yank
      ansible.builtin.file:
        path: "/tmp/win32yank"
        state: directory
        recurse: true

    - name: Download & unzip win32yank
      ansible.builtin.unarchive:
        src: "https://github.com/equalsraf/win32yank/releases/download/v0.1.1/win32yank-x64.zip"
        dest: "/tmp/win32yank"
        remote_src: true

    - name: Ensure ~/.local/bin
      ansible.builtin.file:
        path: "{{ ansible_facts.user_dir }}/.local/bin"
        state: directory
        recurse: true

    - name: Move win32yank.exe to ~/.local/bin
      ansible.builtin.copy:
        src: "/tmp/win32yank/win32yank.exe"
        dest: "{{ ansible_facts.user_dir }}/.local/bin"
        mode: "0700"

    - name: Remove /tmp/win32yank.zip
      ansible.builtin.file:
        path: /tmp/win32yank.zip
        state: absent

    - name: Remove /tmp/win32yank
      ansible.builtin.file:
        path: /tmp/win32yank
        state: absent
