---
- name: Ensure .vim
  ansible.builtin.file:
    name: "{{ ansible_facts.user_dir }}/.vim"
    state: directory
    recurse: true
  tags:
    - install

- name: Symlink .vimrc
  ansible.builtin.file:
    src: "{{ dotfiles_directory_path }}/.vimrc"
    dest: "{{ ansible_facts.user_dir }}/.vimrc"
    state: link
    force: true
  tags:
    - install

- name: Symlink .gvimrc
  ansible.builtin.file:
    src: "{{ dotfiles_directory_path }}/.gvimrc"
    dest: "{{ ansible_facts.user_dir }}/.gvimrc"
    state: link
    force: true
  tags:
    - install

- name: Symlink .vim/coc-settings.json
  ansible.builtin.file:
    src: "{{ dotfiles_directory_path }}/.vim/coc-settings.json"
    dest: "{{ ansible_facts.user_dir }}/.vim/coc-settings.json"
    state: link
    force: true
  tags:
    - install

- name: Upgrade vim-plug
  ansible.builtin.command: vim +PlugUpgrade +qall
  tags:
    - update

- name: Install/Update vim plugins
  ansible.builtin.command: vim +PlugUpdate +qall
  tags:
    - install
    - update
