- name: "Ensure {{ neovim_config_dir }}"
  ansible.builtin.file:
    name: "{{ neovim_config_dir }}"
    state: directory
    recurse: true
  tags:
    - install

- name: Symlink init.lua
  ansible.builtin.file:
    src: "{{ neovim_dotfiles_path }}/init.lua"
    dest: "{{ neovim_config_dir }}/init.lua"
    state: link
  tags:
    - install

- name: Symlink ginit.vim
  ansible.builtin.file:
    src: "{{ neovim_dotfiles_path }}/ginit.vim"
    dest: "{{ neovim_config_dir }}/ginit.vim"
    state: link
  tags:
    - install

- name: Symlink lua from source
  ansible.builtin.file:
    src: "{{ neovim_dotfiles_path }}/lua"
    dest: "{{ neovim_config_dir }}/lua"
    state: link
  tags:
    - install

- name: Symlink lazy-lock.json (lockfile)
  ansible.builtin.file:
    src: "{{ neovim_dotfiles_path }}/lazy-lock.json"
    dest: "{{ neovim_config_dir }}/lazy-lock.json"
    state: link
  tags:
    - install

- name: Symlink snippets from source
  ansible.builtin.file:
    src: "{{ neovim_dotfiles_path }}/snippets"
    dest: "{{ neovim_config_dir }}/snippets"
    state: link
  tags:
    - install

- name: Install neovim npm package globally
  community.general.npm:
    name: neovim
    global: true
  environment:
    PATH: "{{ ansible_facts.user_dir }}/.local/share/mise/shims:{{ ansible_facts.user_dir }}/.local/bin:{{ ansible_facts.env.PATH }}"
  tags:
    - install

- name: Install neovim plugins from lazy-lock.json file
  ansible.builtin.command: nvim --headless "+Lazy! restore" +qa
  tags:
    - install

- name: Update neovim plugins
  ansible.builtin.command: nvim --headless "+Lazy! sync" +qa
  tags:
    - update
