---
- name: Install bat with apt
  become: true
  ansible.builtin.apt:
    name: bat
    state: present
  when: ansible_facts.os_family == "Debian"
  tags:
    - install

- name: Install bat with homebrew
  community.general.homebrew:
    name: bat
    state: present
  when: ansible_facts.os_family == "Darwin"
  tags:
    - install
