---
- name: Install fonts
  when: ansible_facts.os_family == "Darwin"
  tags:
    - install

  block:
    - name: Install font-symbols-only-nerd-font
      community.general.homebrew_cask:
        name: "font-symbols-only-nerd-font"
        state: present

    - name: Install font-hack
      community.general.homebrew_cask:
        name: "font-hack"
        state: present

    - name: Install font-hack-nerd-font
      community.general.homebrew_cask:
        name: "font-hack-nerd-font"
        state: present

- name: Install fonts
  when: ansible_facts.os_family == "Debian"
  tags:
    - install

  block:
    - name: "Ensure fonts directory"
      ansible.builtin.file:
        name: "{{ ansible_facts.user_dir }}/.local/share/fonts"
        state: directory
        recurse: true

    - name: Copy NerdFontsSymbolsOnly to ~/.local/share/fonts
      ansible.builtin.copy:
        src: "NerdFontsSymbolsOnly"
        dest: "{{ ansible_facts.user_dir }}/.local/share/fonts"
        mode: "0755"

    - name: Copy Hack to ~/.local/share/fonts
      ansible.builtin.copy:
        src: "Hack"
        dest: "{{ ansible_facts.user_dir }}/.local/share/fonts"
        mode: "0755"

    - name: Install fonts-hack-ttf with apt
      become: true
      ansible.builtin.apt:
        name: fonts-hack-ttf
        state: present

    - name: Update font cache
      ansible.builtin.command: "fc-cache -f -v"
